body {
    text-align: center;
    color: #02111b;
}

h1 {
    margin: 35px auto;
    color: #02111b;
}

.page-content {
    margin: auto;
}

input {
    width: 100%;
    border-radius: 4px;
    margin: 10px auto;
}

button.game-starter {
    width: 100%;
    margin: auto;
}

footer {
    width: 75%;
    margin: auto;
    padding: 10px;
    border: 1px solid darkcyan;
    border-radius: 4px;
    background-color: white;
}

a {
    color: darkcyan;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: deepskyblue;
}

.memory-card {
    border: 1px solid white;
    background-color: azure;
    padding: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    font-size: 35px;
    border-radius: 5px;
}

.memory-card.paired {
    background-color: #b2ffc9;
}

div.modal-body h3 {
    margin: 10px;
}

div#timer {
    height: 50px;
}
